* {
    box-sizing: border-box;
    background-color: bisque;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 800px;
}

h1 {
    text-align: center;
    display: flex;
    justify-content: center;
    font-size: 60px;
}

form {
    display: flex;
    justify-content: center;
    gap: 1em;
}

form input {
    width: 10em;
    text-align: center;
    height: 4em;
    font-size: 20px;
    border-radius: 10px;
    background-color: azure;
}

div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

button {
    width: 5em;
    text-align: center;
    height: 4em;
    font-size: 20px;
    margin-top: 15%;
    border-radius: 10px;
    background-color: azure;
}
h2{
    font-size: 8em;
    margin-top: 2%;
}