*{
    box-sizing: border-box;
}
header, footer{
    border: 1px solid black;
    height: 100px;
    clear: both;
}
section{
    border: 1px solid black;
    height: 150px;
    width: 33.3%;
    float: left;
}
.big-tank{
    border: 1px solid black;
    height: 300px;
    width: 50%;
    float: left;
}